* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8F9FA;
  color: #333;
}

.note-app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}


.note-app h2 {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  color: #20B2AA;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
  width: 100%;
}

.note-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.note-item-container {
  padding: 20px;
  word-wrap: break-word; /* Force wrapping within the container */
  white-space: normal;
  min-height: 150px;
}

.note-item__title {
  font-size: 22px;
  font-weight: bold;
}

.note-item__body {
  line-height: 1.6;
  word-wrap: break-word;

}

.note-item__created-at {
  padding-bottom: 10px;
  color: #696969;
  font-size: 14px;
}

.note-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 70px;
}

.note-input p{
  text-align: right;
  color: #696969;

}

.note-input textarea,
.note-input input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.note-input button {
  padding: 10px;
  border-radius: 6px;
  background: #20B2AA;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.note-input button:hover {
  background: #1a998f;
}

.note-item__btn {
  width: 100%;
  background-color: #F5F5F5;
  border: none;
  padding: 8px 0;
  font-weight: bold;
  color: #ff5f52;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
}

.search-bar {
  margin: 10px 0;
}
.search-bar input{
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;  
  border-radius: 4px;
}

.display-message {
  margin: 100px auto; 
}
.note-item__archive-button {
  color: #ffc107;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__btn:hover {
  color: #b00020;
}

/* Responsive Design */
@media only screen and (min-width: 800px) {
  .note-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .note-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .note-search input {
    min-width: 400px;
  }
}
